@model SiteMVC.Models.Engine.AdvertismentsRequest

@{
    ViewBag.Title = Model.SectionTitle + " | Недвижимость-UA";
    Layout = "~/Views/Shared/_AdvertismentsLayout.cshtml";
}

@section Head
{
    <meta name="description" content="@Model.SectionDescription" />
    <meta name="keywords" content="@Model.SectionKeywords" />
    
    <link rel="stylesheet" href="~/Content/css/blueimp-gallery.min.css">
}

@section Body
{
    <ul class="breadcrumb">
          <li>Объявления @SystemUtils.Utils.Date.GetUkranianDateTimeNow().ToString("dd/MM/yyyy") <span class="divider">/</span></li>
          <li class="active">@Model.SectionName</li>
        </ul>

        <div style="float:right; line-height: 50px;">
            @if(Model.State == SiteMVC.Models.Engine.Advertisment.State.NotSubpurchase)
            {
                @Html.ActionLink(
                            "Объявления включая посредников",
                            "Index",
                            new 
                            { 
                                sectionUrl = ViewContext.RouteData.Values["sectionUrl"], 
                                subSectionUrl = ViewContext.RouteData.Values["subSectionUrl"], 
                                subpurchaseMode = Resources.Resource.VKLUCHAYA_POSREDNIKOV
                            },
                            new { id="lnkWithSubpurchases" }
                         );
            }else{
                @Html.ActionLink(
                            "Объявления без посредников",
                            "Index",
                            new
                            {
                                sectionUrl = ViewContext.RouteData.Values["sectionUrl"],
                                subSectionUrl = ViewContext.RouteData.Values["subSectionUrl"],
                                subpurchaseMode = Resources.Resource.BEZ_POSREDNIKOV
                            },
                            new { id = "lnkWithSubpurchases" }
                         );
            }
        </div>
    
        <h2 class="page_header">@Model.SectionName</h2>
        <p>
            @Html.Partial("Header", Model)
        </p>
        
        <div class="advertisments">
            @{
                Html.RenderAction("AdvertismentsList", "AdvertismentsList", Model);
            }
        </div>
}