@model SiteMVC.ViewModels.Controls.Authorization

@if(!Model.IsAuthorized)
{
<div id="authorization" style="height: 130px; padding: 5px 0;">
    <div style="clear:both; margin-bottom: 5px;">Вход: <a href="~/Registration" style="float:right;">Регистрация</a></div>
    @using(Html.BeginForm("LogIn", "Authorization", FormMethod.Post, new { id="authorizationForm", @class="form-inline"}))
    {
        @Html.TextBox("Login", null, new { @class = "input", placeholder = "Email/Логин" })
        @Html.Password("Password", null, new { @class = "input", placeholder = "Пароль" })
        
        <button type="submit" id="authorizationEnterButton">Войти</button>
        
        @Html.Hidden("RememberMe", false)
        @*<label class="checkbox">
            @Html.CheckBox("RememberMe", false) Запомнить меня
        </label>*@
    }
    <div style="clear:both;"></div>
</div>
}else{
<div id="user_info" style="background-color: white; height: 130px; padding: 5px 0;">
    <div class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="font-weight: bold;">
            <i class="icon-user"></i> @Model.LoginDisplay <b class="caret"></b>
        </a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
            <li><a tabindex="-1" href="~/User-advertisments">Мои объявления</a></li>
            <li class="divider"></li>
            <li><a tabindex="-1" href="~/User-options">Настройки</a></li>
        </ul>
    </div>
    @if(!Model.IsAdmin){
    <div style="margin-top: 20px;">
        Ваш телефон: <strong>@Model.Phone</strong>
    </div>
    <div style="margin-bottom: 20px;">
        Ваших объявлений: 
        <strong>
            @if (Model.AdvertismentsCount > 0)
            {
                <a href="~/User-advertisments">@Model.AdvertismentsCount</a>
            }else{
                @Model.AdvertismentsCount
            }
        </strong>
    </div>
    }else{
    <div style="margin: 12px 0;">
        <a href="~/Admin/AddSubPurchases" style="font-size: 0.8em; display: block;">Добавить посредника(ов)</a>
        <a href="~/Admin/CheckSubPurchases" style="font-size: 0.8em; display: block;">Отмеченные посредники</a>
        <a href="~/Admin/ServerLogs" style="font-size: 0.8em; display: block;">Логи сервера</a>
    </div>
    }
    <div style="clear:both;">
        <a href="~/User-options">Настройки</a>
        <a href="@Url.Action("LogOut", "Authorization")" style="float:right;">Выйти</a>
    </div>
</div>
}

