@model SiteMVC.Models.Engine.AdvertismentsRequest

@{
    ViewBag.Title = Model.SectionName != null ? Model.SectionName + ". " : "" + "Архив объявлений о недвижимости Харькова | Недвижимость-UA";
    Layout = "~/Views/Shared/_AdvertismentsLayout.cshtml";
}

@section Head
{
    <meta name="description" content="Архив объявлений раздела @( !string.IsNullOrEmpty(Model.SectionName) ? Model.SectionName.ToLower() : "архив объявлений" ). Полный каталог объявлений в Харькове БЕЗ посредников." />
    <meta name="keywords" content="@( Model.SectionName != null ? Model.SectionName : "Архив объявлений"), архив, объявлений, недвижимость, Харьков, квартиры в Харькове, Харьков, квартир, без посредников" />
    
    <link href="~/Content/css/bootstrap.calendar.css" type="text/css" rel="Stylesheet"/>
    <link href="~/Content/css/blueimp-gallery.min.css" type="text/css" rel="stylesheet">
}

@section Body
{
    <form id="MainForm" runat="server">
        <div runat="server" id="pnlSites">
            <h2 class="block_header">Архив объявлений. @Model.SectionName <hr/></h2>
            <p>
                Архив объявлений недвижимости @Model.SectionName в городе Харькове БЕЗ посредников. 
                Советуем вам выбирать наиболее свежие объявления (1-2 дня) в связи с динамичностью рынка 
                недвижимости в Харькове. Желаем вам найти свой уютный уголок наиболее выгодно и удобно.
            </p>

            <h2>@(Model.DateFrom != null ? Model.DateFrom.Value.ToString("dd/MM/yyyy") : "")</h2>

            @{
                Html.RenderAction("AdvertismentsList", "AdvertismentsList", Model);
            }
        </div>
    </form>
    
    <script src="~/Content/js/bootstrap.calendar.js"></script>
}

@section RightColumn
{
    <script type="text/javascript">
        $(document).ready(function () {

            $('#calendar').Calendar({ 'weekStart': 1, 'url': '@( new Uri(Request.Url.AbsoluteUri).GetLeftPart(UriPartial.Path))' })
            @*//.on('changeDay', function (event) { alert(event.day.valueOf() + '-' + event.month.valueOf() + '-' + event.year.valueOf()); })
            //.on('onEvent', function (event) { alert(event.day.valueOf() + '-' + event.month.valueOf() + '-' + event.year.valueOf()); })
            //.on('onNext', function (event) { alert("Next"); })
            //.on('onPrev', function (event) { alert("Prev"); })
            //.on('onCurrent', function (event) { alert("Current"); });*@
        });
    </script>

    <div id="calendar" style="margin-top: 10px;"></div>
}