@model SiteMVC.Models.Engine.Advertisment.AdvertismentsList

<div runat="server" id="pnlAdvRentRecords">

    <noindex>
        <div style="height: 280px;">
            <div class="span6">
                <script type="text/javascript"><!--
                    google_ad_client = "ca-pub-5891602113354577";
                    /* Баннер на WithMe квадрат */
                    google_ad_slot = "1289867380";
                    google_ad_width = 336;
                    google_ad_height = 280;
                    //-->
                </script>
                <script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
                </script>
            </div>
            <div class="span6">
                <script type="text/javascript"><!--
                    google_ad_client = "ca-pub-5891602113354577";
                    /* Баннер на WithMe квадрат */
                    google_ad_slot = "1289867380";
                    google_ad_width = 336;
                    google_ad_height = 280;
                    //-->
                </script>
                <script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
                </script>
            </div>
        </div>
    </noindex>

    <div id="advertisments_header" style="margin-top: 25px;">
        <pre>
            Количество объявлений: @Model.CountToShow из @Model.FullCount
        </pre>
    </div>

    <div class="row-fluid">
        <div class="span12">
            <div class="row-fluid">
                <div class="span8" style="text-align: center;"><strong>Текст объявления</strong></div>
                <div class="span4" style="text-align: center;"><strong>Телефоны</strong></div>
            </div>
            <hr class="advSeparator"/>
        </div>
    </div>
    
    <div id="advertisments" runat="server">

        @{ var isAdmin = SystemUtils.Authorization.IsAdmin; }

        @for (var i = 0; i < Model.Advertisments.Count; i++)
        {
            var advertisment = Model.Advertisments[i];

            <div style="margin-top: 10px;" id="advertisment_@i">
                <div class="@( advertisment.IsSpecial ? "special_advertisment " : "")advertisment_block">
                    <div class="row-fluid">
                        <div class="row-fluid">
                            <div class="span9">@advertisment.Text</div>

                            @*      Phones    *@
                            <div class="span3">
                                <ul class="unstyled phones" id="phones_@i">
                                    @foreach (var phone in advertisment.Phones)
                                    {
                                        <li><strong>@phone.phone</strong></li>
                                    }
                                </ul>
                            </div>

                        </div>

                        @*      Photos    *@
                        @if(advertisment.Photos.Any())
                        {
                        <div class="row-fluid" @(advertisment.Photos.Count <= 3 ? "style=\"min-height: 80px;\"" : "")>
                            <div class="span8">
                                <strong>Фото:</strong>
                                <div class="gallery" data-toggle="modal-gallery" data-target="#modal-gallery" data-selector="div.gallery-item">
                                    @{ int photo_index = 0; }
                                    @foreach (var photo in advertisment.Photos)
                                    {
                                        <div class="gallery-item" data-href="@Html.Raw(HttpUtility.HtmlDecode(photo.filenameFormated))" data-index="@photo_index">
                                            <img src="@Html.Raw(HttpUtility.HtmlDecode(photo.filename))" alt="Фото объекта недвижимости @photo_index"/>
                                        </div>
                                        photo_index++;
                                    }
                                </div>
                            </div>
                        </div>
                        }

                    </div>
                    <div class="clear:both">&nbsp;</div>
                    <div class="advertisment_info_footer row-fluid">
                        <div class="span5">
                            <span>Дата обновления:@advertisment.CreateDateFormated</span>&emsp;
                        </div>
                        <div class="span7" style="text-align: right;">
                            @if(isAdmin)
                            {
                                <a class="btn btn-mini" onclick="AdminRemoveAdvertisment(@i, this, @advertisment.Id);">
                                    <i class="icon-trash"></i> Удалить объявление
                                </a>
                            }
                            <div class="btn-group">
                                <button class="btn dropdown-toggle btn-mini" data-toggle="dropdown"><i class="icon-exclamation-sign"></i> Сообщить <span class="caret"></span></button>
                                <ul class="dropdown-menu">
                                    <li><a onclick="MarkAsSubpurchase(@i, this);">Объявление посредника</a></li>
                                    <li><a onclick="MarkAsNotByTheme(@i, this, @advertisment.Id);">Объявление не по теме</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        
        @{
            var advCount = Model.CountToShow;
            var currentPage = Math.Round((decimal)Model.Offset / (decimal)Model.Limit) + 1;
            var pageAdvCount = (decimal)Model.Limit;
            var lastPage = advCount % pageAdvCount == 0
                            ? Math.Floor(advCount / pageAdvCount)
                            : Math.Floor(advCount / pageAdvCount) + 1;

            if (pageAdvCount <= advCount)
            {
                var prevPage = currentPage - 1;
                var nextPage = currentPage + 1;
                
                <div>
                    <ul class="pager">
                        <li class="previous @( currentPage <= 1 ? "disabled" : "" )">
                            <a href="@( currentPage <= 1 ? "" : SystemUtils.Utils.Url.InsertURLParam(Request.RawUrl, "page", prevPage.ToString()) )">&larr; Previous</a>
                        </li>
                        <li class="next @( currentPage >= lastPage ? "disabled" : "" )">
                            <a href="@( currentPage >= lastPage ? "" : SystemUtils.Utils.Url.InsertURLParam(Request.RawUrl, "page", nextPage.ToString()) )">Next &rarr;</a>
                        </li>
                    </ul>
                </div>
            }
        }

        @*<div class="loading_container">
            <div style="margin-top: 20px;">
                Идет загрузка объявлений.. 
            </div>
            <div class="loading"></div>

            <div class="muted">
                <small>
                    Если объявления не были загружены - пожалуйста попробуйте перезагрузить страницу 
                    или обратиться к нам в тех. поддержку 
                    <a href="mailto:support@nedvijimost-ua.com">support@nedvijimost-ua.com</a>.
                </small>
            </div>
        </div>*@
    </div>

    <noindex>
        <div style="margin-top: 10px; text-align:center;">
            <script type="text/javascript"><!--
                google_ad_client = "ca-pub-5891602113354577";
                /* NedvijimostUA между объяв */
                google_ad_slot = "2757750864";
                google_ad_width = 468;
                google_ad_height = 60;
                //-->
            </script>
            <script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
            </script>
        </div>
    </noindex>
</div>

<script src="~/Content/js/blueimp-gallery.min.js"></script>
<script src="~/Content/js/jquery.masonry.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        //--- format photos
        var $photosContainer = $('.gallery');
        $photosContainer.imagesLoaded(function () {
            $photosContainer.masonry({
                itemSelector: '.gallery-item',
                //columnWidth: 300,
                //gutterWidth: 20
            });
        });

        $('.gallery').each(function (index) {
            var linksContainer = $(this).on('click', 'div', function (event) {
                // Show the Gallery as lightbox when selecting a link,
                // starting with the selected image:
                if (blueimp.Gallery(linksContainer.find('div'), {
                    index: $(this).data('index')
                })) {
                    // Prevent the default link action on
                    // successful Gallery initialization:
                    event.preventDefault();
                }
            });
        });
    });

    function MarkAsSubpurchase(subpurchaseIndex, val) {
        if (confirm("Вы уверены, что данное объявление является объявлением посредника?")) {
            val.disabled = true;

            var phonesList = new Array();
            $("#phones_" + subpurchaseIndex + " li").each(function () {
                phonesList.push($(this).text());
            });

            var jsonText = JSON.stringify({ phonesList: phonesList });

            $.ajax({
                type: "POST",
                url: "/WebServices/SubpurchaseService.asmx/MarkAsSubpurchase",
                data: jsonText,
                contentType: "application/json;charset=urf-8",
                dataType: "json",
                success: function (result) {
                    $("#advertisment_" + subpurchaseIndex).fadeOut(900);
                }
            });
        }
    }
    function AdminRemoveAdvertisment(subpurchaseIndex, val, advertisment_id) {
        if (confirm("Вы уверены, что хотите удалить данное объявление?")) {
            val.disabled = true;
            var phonesList = new Array();

            $.ajax({
                type: "POST",
                url: "/WebServices/AdvertismentsService.asmx/HideAdvertisment",
                data: "{ advertisment_id: " + advertisment_id + "}",
                contentType: "application/json;charset=urf-8",
                dataType: "json",
                success: function (result) {
                    $("#advertisment_" + subpurchaseIndex).fadeOut(500);
                }
            });
        }
    }
    function MarkAsNotByTheme(subpurchaseIndex, val, advertisment_id) {
        if (confirm("Вы уверены, что данное объявление не является объявлением о недвижимости?")) {
            val.disabled = true;
            var phonesList = new Array();

            $.ajax({
                type: "POST",
                url: "/WebServices/AdvertismentsService.asmx/MarkAsNotByTheme",
                data: "{ advertisment_id: " + advertisment_id + "}",
                contentType: "application/json;charset=urf-8",
                dataType: "json",
                success: function (result) {
                    $("#advertisment_" + subpurchaseIndex).fadeOut(800);
                }
            });
        }
    }
</script>

<!-- The Gallery as lightbox dialog, should be a child element of the document body -->
<div id="blueimp-gallery" class="blueimp-gallery">
    <div class="slides"></div>
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
</div>