@model SiteMVC.ViewModels.Controls.Authorization

@if(!Model.IsAuthorized)
{
<div id="authorization" style="background-color: white; height: 110px; padding: 5px 0;">
    <div style="clear:both;">Вход: <a href="~/Registration" style="float:right;">Регистрация</a></div>
    @using(Html.BeginForm("LogIn", "Authorization", FormMethod.Post, new { id="authorizationForm", @class="form-inline"}))
    {
        @Html.TextBox("Login", null, new { @class = "input", placeholder = "Email/Логин" })
        @Html.Password("Password", null, new { @class = "input", placeholder = "Пароль" })
        <label class="checkbox">
            @Html.CheckBox("RememberMe", false) Запомнить меня
        </label>
      <button type="submit" class="btn" style="float:right;">Войти</button>
    }
    <div style="clear:both;"></div>
</div>
}else{
<div id="user_info" style="background-color: white; height: 130px; padding: 5px 0;">
    <div>
        Здравствуйте, <br />
        <strong>@Model.Login</strong>!
    </div>
    @if(!Model.IsAdmin){
    <div style="margin-top: 14px;">
        Ваш телефон: <strong>@Model.Phone</strong>
    </div>
    <div style="margin-bottom: 14px;">
        Ваших объявлений: <strong>@Model.AdvertismentsCount</strong>
    </div>
    }else{
    <div style="margin-top: 14px;">
        <a href="~/Admin/AddSubPurchases" style="font-size: 0.8em;">Добавить посредника(ов)</a>
    </div>
    <div style="margin-bottom: 14px;">
        <a href="~/Admin/CheckSubPurchases" style="font-size: 0.8em;">Отмеченные посредники</a>
    </div>
    }
    <div style="clear:both;">
        <a href="~/User-options">Настройки</a>
        <a href="@Url.Action("LogOut", "Authorization")" style="float:right;">Выйти</a>
    </div>
</div>
}

